.balance {
    font-size: 20px;
}

.charts-container {
    display: flex;
    justify-content: space-around; /* Adjust as needed */
    margin: 20px 0;
}

.chart {
    width: 45%; /* Adjust the width as needed, considering margins and padding */
    height: 400px;
    position: relative;
}

.chart canvas {
    width: 100%;
    height: 80%; /* Adjust as needed */
    margin-top: 50px;
}

.chart-button {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    color: #fff;
}

.chart-total {
    font-size: 20px;
}

.expenses {
    background-color: #f03224;
}

.expenses:hover {
    background-color: #f6645a;
}

.revenues {
    background-color: #4ea851;
}

.revenues:hover {
    background-color: #76c678;
}

.hidden {
    display: none;
}

.home-button {
    margin-top: 20px; /* Added margin to separate from the charts */
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: none;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    text-decoration: none;
}

.home-select {
    position: absolute;
    top: 0;
    left: 0;
}

.home-select select {
    margin: 10px 0px 0px 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #cb7dfc;
    color: #3a243f;
    box-shadow: none;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    -webkit-appearance: none; /* Remove the default arrow */
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.home-select select:hover {
    background-color: #e0b3ff;
    color: #7a5e80;
}

.main {
    margin: 20px 0px 20px 0px;
    text-align: center;
}

.month {
    left: 164px;
}

.month select {
    background-color: #7d9ffc;
    color: #3a243f;
}

.month select:hover {
    background-color: #b3c7ff;
    color: #7a5e80;
}

.submit-button {
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 10px;
    box-shadow: none;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #cb7dfc;
    color: #3a243f;
}

.submit-button:hover {
    background-color: #e0b3ff;
    color: #7a5e80;
}

.year {
    left: 90px;
}

.year select {
    background-color: #fc7d94;
    color: #3a243f;
}

.year select:hover {
    background-color: #ffb3c0;
    color: #7a5e80;
}

#activity-add {
    background-color: #35ffc2;
    color: #000;
    position: absolute;
    bottom: 60px;
    margin: 0 0 20px 0;
}

#activity-add:hover {
    background-color: #a7ffe6;
    color: #353434;
}

#budget-modify {
    position: absolute;
    bottom: 0;
    background-color: #35a7ff;
    color: #000;
    margin: 0 0 20px 0;
}

#budget-modify:hover {
    background-color: #a7d4ff;
    color: #353434;
}