.activity-add {
    background-color: #35ffc2;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    color: #000;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: none;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    text-decoration: none;
    padding: 10px 20px;
}

.activity-add:hover {
    background-color: #a7ffe6;
    color: #353434;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
