<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Budget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <!--script src="{{ url_for('static', filename='js/index.js') }}"></script-->
</head>

<body class="main">
    <p>Banque : {{ bank }} €</p>
    <p>Liquide : {{ cash }} €</p>
    <a class="home-button" id="budget-modify" href="budget-modify">Modifier le budget de départ</a>
    <a class="home-button" id="activity-add" href="activity-add">Ajouter une activité</a>
</body>

</html>