<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Budget</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body class="main">
    <div class="home-select account">
        <!--label for="account">Compte</label-->
        <select name="account" id="account">
            <option value="bank">Banque</option>
            <option value="cash">Liquide</option>
        </select>
    </div>
    <div class="home-select year">
        <!--label for="year">Année</label-->
        <select name="year" id="year">
            <option value="2023">2023</option>
            <option value="204">2024</option>
        </select>
    </div>
    <div class="home-select month">
        <!--label for="month">Mois</label-->
        <select name="month" id="month">
            <option value="january">Janvier</option>
            <option value="ferbruary">Février</option>
            <option value="march">Mars</option>
            <option value="april">Avril</option>
            <option value="may">Mai</option>
            <option value="june">Juin</option>
            <option value="july">Juillet</option>
            <option value="august">Août</option>
            <option value="september">Septembre</option>
            <option value="october">Octobre</option>
            <option value="november">Novembre</option>
            <option value="december">Décembre</option>
            <option value="all">Tous les mois</option>
        </select>
    </div>
    <p>Banque : {{ bank }} €</p>
    <p>Liquide : {{ cash }} €</p>
    <div class="charts-container">
        <div class="chart" id="expenseschartcontainer">
            <canvas id="expenseschart"></canvas>
        </div>
        <div class="chart" id="revenueschartcontainer">
            <canvas id="revenueschart"></canvas>
        </div>
    </div>
    
    <a class="home-button" id="budget-modify" href="budget-modify">Modifier le budget de départ</a>
    <a class="home-button" id="activity-add" href="activity-add">Ajouter une activité</a>

    <p class="hidden" id="expenses">{{ expenses }}</p>
    <p class="hidden" id="revenues">{{ revenues }}</p>
</body>

</html>